
@{
    ViewBag.Title = "changePass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="myDesignTitle-0">
    <div class="myDesignTitle-1">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>QUẢN LÝ Kho</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">QL Kho</a></li>
                            <li><a href="#">Người dùng</a></li>
                            <li class="active">Đổi mật khẩu</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="show-account">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Đổi mật khẩu</h4>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="profile">
                        <div class="profile-body">
                            <label>Mật khẩu hiện tại</label>
                            <div class="form-group pass_show">
                                <input type="password" id="old-pass" class="form-control" placeholder="">
                            </div>
                            <label>Mật khẩu mới</label>
                            <div class="form-group pass_show">
                                <input type="password" id="new-pass" class="form-control" placeholder="">
                            </div>
                            <label>Xác nhận mật khẩu</label>
                            <div class="form-group pass_show">
                                <input type="password" id="confirm-pass" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="profile-footer">
                            <button class="btn btn-success btn-sm" onclick="requestChangePass()">Xác nhận</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6"></div>
            </div> <!-- /.row -->
            <div class="card-body"></div>
        </div>
    </div><!-- /# column -->
</div>
<script>
    function requestChangePass()
    {
        if (jQuery("#new-pass").val() != jQuery("#confirm-pass").val())
        {
            notify.call_mess_1("Hai mật khẩu không trùng!", "/Account/changePass");
            return;
        }
        pData = { oldPass: jQuery("#old-pass").val(), newPass: jQuery("#new-pass").val() };
        request.put("POST", "/Account/changePass", pData, function (Response) {
            notify.call_mess_1(Response.Response, "/Account/changePass");
        }, function () { }, function () { });
    }
</script>

