
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Đăng nhập</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Scripts/LoginV5/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/LoginV5/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/LoginV5/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/LoginV5/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/LoginV5/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/LoginV5/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/LoginV5/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/LoginV5/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link href="~/Scripts/LoginV5/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Scripts/LoginV5/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/LoginV5/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('../Scripts/LoginV5/images/bg-01.jpg');">
            <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                <form class="login100-form validate-form flex-sb flex-w" method="post" action="../Account/checkOut">
                    <a href="#" class="btn-google m-b-20" style="width:calc(100%)">
                        <img src="../Scripts/LoginV5/images/icons/icon-google.png" alt="GOOGLE">
                        QUẢN LÝ KHO
                    </a>
                    @*<a href="#" class="btn-face m-b-20" style="width:calc(100%)">
                        QUẢN LÝ THƯ VIỆN
                    </a>*@
                    <span class="login100-form-title p-b-53" style="padding-top:25px;padding-bottom:0px">
                        Đăng nhập với...
                    </span>

                    @**@
                    <div class="p-t-31 p-b-9">
                        <span class="txt1">
                            Tài khoản
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Username is required">
                        <input class="input100" type="text" name="username">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="p-t-13 p-b-9">
                        <span class="txt1">
                            Mật khẩu
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="pass">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn" type="submit">
                            Đăng Nhập
                        </button>
                    </div>

                    <div class="w-full text-center p-t-55">
                        <span class="txt2">
                            Quên mật khẩu?
                        </span>

                        <a href="#" class="txt2 bo1">
                            Lấy lại ngay
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Scripts/LoginV5/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/LoginV5/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/LoginV5/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Scripts/LoginV5/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/LoginV5/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/LoginV5/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Scripts/LoginV5/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/LoginV5/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->

    <script src="~/Scripts/LoginV5/js/main.js"></script>

</body>
</html>
